<%- include("header.ejs") -%>
    <div class="jumbtron jumbtron-fluid text-white">
        <div class="container">
            <h1 class="display-4 font-weight-bold">SMART DIET PLANNER</h1>
            <p class="lead">For your best Diet Plans</p>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
            <div>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto ">
                        <li class="navbar-item  ml-md-5">
                            <a class="nav-link text-light" href="/">HOME</a>
                        </li>
                        <li class="navbar-item ml-md-5">
                            <a class="nav-link text-light" href="/dietplan">DIET CHART</a>
                        </li>
                        <li class="navbar-item ml-md-5">
                            <a class="nav-link text-light" href="/about">PROGRESS</a>
                        </li>
                    </ul>
                </div>
            </div>
            <% if(flag==1) { %>
                <div class="">
                    <a data-target="#SigninModal" data-toggle="modal" class="" id="signin" href="#SigninModal">Sign
                        in</a>
                    <p style="display:inline">/</p>
                    <a data-target="#LoginModal" data-toggle="modal" class="" id="signin" href="#LoginModal">Log in</a>
                </div>
                <% } else { %>
                    <div>
                        <p style="display: inline;">
                            <%= use_name %>
                        </p>
                        <a href="/user"><i style="font-size:x-large" class="fas fa-user-circle"></i></a>
                    </div>
                    <% } %>
        </nav>

    </div>
    <div class="container-fluid bg-light body2 " >
        <div class="row">

            <div class="col-md-3 ml-auto bmi  " >
                <div class="row " style="margin:3px;">
                    <div class="card card2">
                        <h1 style="align-self: center;font-weight: bolder; "><i class="fas fa-weight"
                                style="padding-right: 2%; "></i>BMI
                            Calculator</h1>
                        <form>

                            <div class="form-row">

                                <div class="form-row">
                                    <label
                                        style="align-self: center;font-size: larger;font-weight: bolder;margin-top: 2px;">Height
                                        : </label>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="cms">
                                    </div>


                                </div>
                            </div>
                            <div class="spacer"></div>
                            <div class="form-row">
                                <div class="col">
                                    <label
                                        style="align-self: center; margin-top: 5px; font-size: larger; font-weight: bolder;">Weight
                                        : </label>

                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Kgs">
                                </div>
                            </div>
                            <div class="row genbtn justify-content-center align-items-center">
                                <button type="button" class="btn btn-danger" style="font-size: x-large;"><i
                                        class="fas fa-calculator" style="font-size: x-large;"></i> Calculate
                                    !!!</button>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="row ">
                    <div class="dropdown col-md-3 " style="margin: 10px;padding-left: 40px;">
                        <div class="btn-group">
                            <button class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" style="font-size: x-large;"><i class="fas fa-poll"
                                    style="font-size: x-large;"></i>
                                BMI History

                            </button>
                            <div class="dropdown-menu dropdown-menu-right">


                                <!-- <button class="dropdown-item" type="button">Action</button>
                                <button class="dropdown-item" type="button">Another action</button>
                                <button class="dropdown-item" type="button">Something else here</button> -->
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Height</th>
                                            <th scope="col">Weight</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <!-- <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td> -->
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <!-- <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td> -->
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-5 ml-auto">
                <div class="container-fluid bg-light">
                    <div class="card card3">
                        <div class="row justify-content-center align-items-center">
                            <h1 style="font-weight: bolder;" class="prohead">Profile</h1>
                        </div>
                        <div class="row justify-content-center align-items-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-radius"
                                alt="User-Profile-Image">
                        </div>

                        <hr class="my-2">
                        <div class="row justify-content-center align-items-center">
                            <h2 style="font-weight: bolder;">Naren</h2>

                        </div>


                        <div class="row justify-content-center align-items-center">
                            <p class="text-muted" style="font-weight: bold;">Active | Male | Born 23.05.1992</p>
                        </div>
                        <hr class="my-2" style="border: solid 1px;">
                        <div class="row justify-content-center align-items-center">
                            <p class="text-muted m-t-15" style="font-weight: bold;">BMI Level : </p>
                        </div>


                        <div class="progress ">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <hr class="my-4" style="border: solid 1px;">
                        <div class="row user-social-link" style="margin-left: 10px; margin-bottom: 20px;">
                            <i class="fas fa-ruler-vertical"></i>
                        </div>
                        <div class="row user-social-link " style="margin: 1px;">

                            <i class="fas fa-weight"></i>
                        </div>

                        <hr class="my-4" style="border: solid 1px;">

                        <div class="row justify-content-center align-items-center">
                            <!-- <p class="text-muted m-t-15" style="font-weight: bold;">BMI Level : </p> -->
                            <div class="row justify-content-center user-social-link">
                                <div class="col-auto"><a href="#!"><i class="fa fa-facebook text-facebook"
                                            style="color: darkblue;"></i></a></div>
                                <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>
                                <div class="col-auto"><a href="#!"><i class="fab fa-instagram "
                                            style="color: crimson;"></i></i></a></div>
                            </div>
                        </div>
                        <!-- <div  -->



                        <!-- </div> -->







                    </div>
                </div>


            </div>
            <div class="col-md-3 ml-auto ">



                <div class="row justify-content-center" >
                    <div class="btn-group" style="margin: 3px;">
                        <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" style="font-size: x-large;"><i
                                class="fas fa-user-friends" style="font-size: x-large;"></i>
                            Connections

                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="input-group mt-2 mx-2">
                                <div class="form-outline">
                                    <input type="search" id="form1" class="form-control-dropdown" />
                                    <label class="form-label" for="form1">Search</label>
                                </div>
                            </div>
                            <button class="dropdown-item" type="button">Action</button>
                            <button class="dropdown-item" type="button">Another action</button>
                            <button class="dropdown-item" type="button">Something else here</button>
                        </div>
                    </div>
                    <div class="btn-group " style="margin: 3px;" >
                        <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" style="font-size: x-large;"><i
                                class="fas fa-globe" style="font-size: x-large;"></i>
                            Invitations

                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="input-group mt-2 mx-2">
                                <div class="form-outline">
                                    <input type="search" id="form1" class="form-control-dropdown" />
                                    <label class="form-label" for="form1">Search</label>
                                </div>
                            </div>
                            <button class="dropdown-item" type="button">Action</button>
                            <button class="dropdown-item" type="button">Another action</button>
                            <button class="dropdown-item" type="button">Something else here</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
    </div>
    <%- include("footer.ejs") -%>