.jumbtron {
  background-color:indigo;
}

.navbar {
  background-color:rebeccapurple;
}

.body1 {
  font-family: "Montserrat", sans-serif;

  line-height: 1.4;
  padding: 5% 5% 5% 5%;
}
.body2 {
  font-family: "Montserrat", sans-serif;

  line-height: 1.4;
  padding: 1% 1% 1% 1%;
}
.form1 {
  padding: 5% 25% 25% 5%;
}
.imgbody1 {
  margin-top: 3%;
  padding: 5% 5% 5% 5%;
  /* width: 200000px; */
  /* height: 75vh; */
  /* margin-top: 7%; */
  /* margin-right: 1%; */
}
.icon1 {
  padding-top: 10%;
  padding-left: 10%;
  font-size: 102px;
}
.fig1 {
  margin-right: 20%;
  /* max-width: 100%; */
}
.ind_icon2 {
  padding-left: 15%;
}
.cap1 {
  padding-left: 2%;
  font-size: larger;

  font-weight: bolder;
}

.card1 {
  font-family: "Montserrat", sans-serif;

  line-height: 1.4;
  padding: 5% 5% 5% 5%;
}
.chartbox {
  /* margin-top: 10%; */
  margin: 8% 30% 30% 30%;
}
/* .form1{
    height: 50;
    
} */
/* .img3{
    /* image-rendering: auto; */
/* } */
.lab1 {
  margin-top: 5%;
}
.inputlab1 {
  margin-top: 5%;
}
.genbtn {
  margin-top: 5%;
  margin-bottom: 5%;
}

.menu {
  background-color: #1eb980;
}
.card {
  /* height: 2050px;
        */
  border: solid;
  background-color:bisque;
}
.foodmenu {
  padding: 2%;
  /* font-family: Montserrat;
        */
  font-family: "Montserrat", sans-serif;

  line-height: 1.4;
}
.scroll {
  max-height: 200px;
  overflow-y: auto;
}
.card2 {
  font-family: "Montserrat", sans-serif;

  /* line-height: 1.4; */
  padding: 15%;
}
.spacer {
  margin: 20px;
  /* padding-left: 25%; */
}
.btngroup {
  margin: 10px;
}
.prohead{
  font-family: 'ZCOOL KuaiLe', cursive;
}
.card1 {
  /* height: 2050px;
        */
        
  border: solid;
  background-color:gold;
}
.user-social-link{
  font-size: 40px;
}

